<!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}Recommendation System{% endblock %}

{% block container %}
  <h1>Hello Visitor</h1>
  Welcome to my movie recommendation website. <br>
  Here based on netflix movie dataset you can find recommendations for users existing in the dataset as well as pick movies yourself 
  and find your recommendations. <br>
  Multiple models for recommending movies are available to choose. Below you can find the list:
  <ul>
    <li>User Based Collaborative Filtering with k Nearest Neighbors</li>
  </ul>
{% endblock %}
