<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<title>Recommendations</title>
<h1>Recommended movies</h1>

<div class="grid">
  <section>
    <h3>Users</h3>
    <ul id="users"></ul>
  </section>
  <section>
    <h3>Select Movies</h3>
    <ul id="movies"></ul>
  </section>
  <section>
    <h3>Recommendations</h3>
    <ul id="recommendations"></ul>
  </section>
  <section>
    <h3>Rated Movies</h3>
    <ul id="rated_movies"></ul>
  </section>
</div>

<button>Get Recommendations</button>

<script src="{{ url_for('static', filename='js/movies.js') }}"></script>
<script src="{{ url_for('static', filename='js/info.js') }}"></script>
<script>
  // Pass Flask variable into JS
  // loadRecommendations("{{ user_id }}");
  // loadRatedMovies("{{ user_id }}");
  loadUsers();
  loadMovies();
</script>